:root {
    --background-color: blue;
    --light-color: #ffffff;
    --dark-color: #000000;
    --link-color: rgb(196,16,205);
}

body {
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--background-color);
    margin: 0 1em;
    font-size: 16px;
}

main{
    position: relative;
    max-width: 1080px;
    margin: 0 auto;
    padding: 20px;
}

#head {
    display: flex;
    justify-content: space-between;
}

.sub-head {
    margin-left: auto;
    order: 2;
}

#head h3 a {
    color: var(--dark-color);
    text-decoration: none;
}



h1 {
    font-family: "Tajawal", sans-serif;
    font-weight: 400;
    font-size: 3em;
}

p{
font-family: "Tajawal", sans-serif;
}
